#map {
	width: 100%;
	height: 400px;
	margin-right: auto;
	margin-left: auto;
	
	margin-top: 20px;
	padding-bottom: 20px;
	
}



.jumbotron {
	background: url(../img/cover_page.png) no-repeat top center ;
	color: white;
	background-size: cover;
	height: 400px;
	overflow: none;
	margin-top: 30px;
	text-align: center;
	padding-top: 100px;

}


.jumbotron #moment-title {
	margin-top: 50px;
 	font-size: 5em;
 	color: white;
 	letter-spacing: 0.07em;
 	/* font-weight: bold; */
}

.jumbotron #moment-desc {
	margin-top: 30px;
	color: white;
	letter-spacing: 0.05em;
}

.input-form {
	padding-top: 50px;
	padding-bottom: 50px;
	display: inline;
}

#datetime-range {

	font-size: 1.2em;
}

.input-form {
	margin-top: 50px;
	padding-top: 50px;
	margin-bottom: 100px;
}

#latlong {
	margin-top: 20px;
	font-size: 1.2em;
}

#date-from-to {
	margin-top: 20px;
	font-size: 1.2em;
}

.images_results {
	margin-top: 20px;
	margin-bottom: 20px;
}

#thumbnail-img {
	border-radius: 10px;
}